In [1]:
import pandas as pd
import numpy as np

In [2]:
mydict = {    
          '手撕猪肉':{'Ed':2,'Peter':3,'Tracy':1,'Fan':0,'Ming':0,'Pachi':0,'Jocelyn':0},
            '烤牛肉':{'Ed':2,'Peter':3,'Tracy':1,'Fan':2,'Ming':0,'Pachi':0,'Jocelyn':0},
            '寿司饭':{'Ed':0,'Peter':0,'Tracy':0,'Fan':1,'Ming':2,'Pachi':1,'Jocelyn':5},
        '日式鸡排饭':{'Ed':4,'Peter':0,'Tracy':0,'Fan':1,'Ming':2,'Pachi':1,'Jocelyn':5},
            '鳗鱼饭':{'Ed':4,'Peter':4,'Tracy':4,'Fan':1,'Ming':0,'Pachi':1,'Jocelyn':5},
    
}

In [3]:
data=pd.DataFrame(mydict,columns =['鳗鱼饭','日式鸡排饭','寿司饭','烤牛肉','手撕猪肉'],
                  index=['Ed','Peter','Tracy','Fan','Ming','Pachi','Jocelyn'])
index=['Ed','Peter','Tracy','Fan','Ming','Pachi','Jocelyn']

In [27]:
from math import sqrt

def multiply(a,b):
    #a,b两个列表的数据一一对应相乘之后求和
    sum_ab=0.0
    for i in range(len(a)):
        temp=a[i]*b[i]
        sum_ab+=temp
    return sum_ab

def cal_pearson(x,y):
    n=len(x)
    #求x_list、y_list元素之和
    sum_x=sum(x)
    sum_y=sum(y)
    #求x_list、y_list元素乘积之和
    sum_xy=multiply(x,y)
    #求x_list、y_list的平方和
    sum_x2 = sum([pow(i,2) for i in x])
    sum_y2 = sum([pow(j,2) for j in y])
    molecular=sum_xy-(float(sum_x)*float(sum_y)/n)
    #计算Pearson相关系数，molecular为分子，denominator为分母
    denominator=sqrt((sum_x2-float(sum_x**2)/n)*(sum_y2-float(sum_y**2)/n))
    return molecular/denominator

## 计算Tracy对日式炸鸡排和寿司饭的评分，推荐一个给Tracy(基于物品适用于用户比较多的场景)

In [29]:
dict2 = [ [3,4,3,5,1,4],
          [2,4,4,5,0,2],
          [3,5,4,5,2,1],
          [2,2,3,0,3,2],
          [4,0,4,5,1,0]
        ]
col = ['A','B','C','D','E','F']
ind = ['P1','P2','P3','P4','P5']

In [30]:
df = pd.DataFrame(dict2,columns=col,index=ind)

In [31]:
df

    A  B  C  D  E  F
P1  3  4  3  5  1  4
P2  2  4  4  5  0  2
P3  3  5  4  5  2  1
P4  2  2  3  0  3  2
P5  4  0  4  5  1  0

In [32]:
movie_mat =[ [3,4,3],
             [5,1,2],
             [2,5,5],
             [0,0,0],
             [0,0,0] ]
colum = ['玩命速递','环太平洋','变形金刚']

In [33]:
add_df = pd.DataFrame(movie_mat,columns=colum,index=ind)

In [34]:
add_df

    玩命速递  环太平洋  变形金刚
P1     3     4     3
P2     5     1     2
P3     2     5     5
P4     0     0     0
P5     0     0     0

In [56]:
new_df = pd.merge(df,add_df,left_index=True,right_index=True)

In [36]:
new_df

    A  B  C  D  E  F  玩命速递  环太平洋  变形金刚
P1  3  4  3  5  1  4     3     4     3
P2  2  4  4  5  0  2     5     1     2
P3  3  5  4  5  2  1     2     5     5
P4  2  2  3  0  3  2     0     0     0
P5  4  0  4  5  1  0     0     0     0

In [37]:
new_df.loc['P1']

A       3
B       4
C       3
D       5
E       1
F       4
玩命速递    3
环太平洋    4
变形金刚    3
Name: P1, dtype: int64

In [38]:
len(new_df.index)

5

In [39]:
add_df

    玩命速递  环太平洋  变形金刚
P1     3     4     3
P2     5     1     2
P3     2     5     5
P4     0     0     0
P5     0     0     0

In [48]:
import operator
def user_similarit_sort(user_name, dataframe, m):
    if user_name in dataframe.index:
        print('-------基于用户的推荐-------\n')
    else:
        print('wrong!')
        return
    #     print('i am still working\n ')
    dic = {}
    # 计算该用户和其他用户的相似度
    for i in range(len(dataframe.index)):
        k = cal_pearson(dataframe.loc[user_name], dataframe.iloc[i])
        dic[dataframe.index[i]] = k

#     list_new = sorted(dic.items(), key=lambda tup: tup[1], reverse=True)

    list_new = sorted(dic.items(), key=lambda tup: tup[1], reverse=True)
    print('\n')

    print('\n相似度排序为： ')
    for key, value in dict(list_new).items():
        print(user_name + '与{k}  :  {v}'.format(k=key, v=value))

    print('\n')
    selected_user = []
    for i in range(1, m + 1):
        selected_user.append(list_new[i][0])

    print('\n')

    return selected_user, dict(list_new[1:m + 1])

In [49]:
user_similarit_sort('P5',df,2)

-------基于用户的推荐-------




相似度排序为：
P5与P5  :  1.0
P5与P3  :  0.45342265631875744
P5与P2  :  0.45196577180671094
P5与P1  :  0.2167774923810302
P5与P4  :  -0.40555355282690636

(['P3', 'P2'], {'P2': 0.45196577180671094, 'P3': 0.45342265631875744})

In [50]:
# 取出用户评过分的物品集合
def get_set(user_name,dataframe):
    
    zero_col = dataframe.loc[user_name]
    ind = zero_col[ zero_col[zero_col.index] >0 ].index   ##找到元素非0值对应的索引
    
#     print(user_name+'用户已评价的物品：')
    rating_item = set(list(ind))
    
#     print(rating_item)
    return rating_item

In [51]:
 get_set('P5',df)

{'A', 'C', 'D', 'E'}

In [52]:
def get_recommend(user_name,dataframe,m):
    sim_user_dict={}
    
    sim_user = []
    sim_user,sim_user_dict = user_similarit_sort(user_name,dataframe,m)
    
#     for u_num in range(len)  # 
    
    print('---ok-----')
    print(sim_user)
    
    
    print('排名前'+str(m)+'位的用户数据为： ')
    print(dataframe.loc[sim_user])
    
   
    ###----------根据用户的相似度进行推荐-----------------
    ###   取集合  A  和 B 都有，但  C  没有的
    
    user_set = get_set(user_name,dataframe) #取集合  A
    sim_user_set=[]
    print('\n---------------')
   
    for i in range(1,m+1):
        sim_user_set.append(get_set(sim_user[i-1],dataframe))  #获取相似用户的 评分物品  的集合

    #获取相似用户的  交集 与用户 的差集
    for num in range(len(sim_user_set)-1):
        sim_user_set[num+1] = sim_user_set[num].intersection(sim_user_set[num+1]) #计算相似用户的评价物品的交集
    
    re_comem_items_set = sim_user_set[-1] - user_set # 生成待推荐物品的集合

    print('\n')
    rating=np.zeros(len(list(re_comem_items_set)))
    
    ########   计算加权评分  #######
    score={}
    for i in range(len(re_comem_items_set)):
        for j in range(len(sim_user)):
            rating[i] = rating[i] + dataframe[list(re_comem_items_set)[i]][sim_user[j]]*sim_user_dict[sim_user[j]]
   
        score[list(re_comem_items_set)[i]] = rating[i]
    ########   计算加权评分#######

    rec_items = sorted(score.items(),key=lambda x:x[1],reverse=True)

    
    print('\n---------------')
    print('推荐物品是:'+rec_items[0][0])
    print('推荐指数：' + str(rec_items[0][1]))
    print('\n---------------')
    
    return rec_items

In [53]:
get_recommend('P5',df,2)

-------基于用户的推荐-------




相似度排序为：
P5与P5  :  1.0
P5与P3  :  0.45342265631875744
P5与P2  :  0.45196577180671094
P5与P1  :  0.2167774923810302
P5与P4  :  -0.40555355282690636




---ok-----
['P3', 'P2']
排名前2位的用户数据为：
    A  B  C  D  E  F
P3  3  5  4  5  2  1
P2  2  4  4  5  0  2

---------------



---------------
推荐物品是:B
推荐指数：4.07497636882063

---------------

[('B', 4.07497636882063), ('F', 1.3573541999321792)]